
.main_container ul{
	display: flex;
	background: gray;
	padding:20px 0px;
	justify-content:center;
}
.main_container  ul li{
	list-style-type:none;
	position:relative;
}
.main_container  ul li a{
	color:white;
	padding:5px 10px;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	background:#e74c3c;
	border-radius:5px;
	margin: 5px;
	text-decoration:none;
	display:inline-block;
}

.main_container  ul ul li a{
	margin:5px 0px;
	display:inline-block;
	font-size:10px;
	text-transform:capitalize;
	background:green;
}

.main_container  ul li a:hover{
	background:#30336b;

}


.main_container  ul ul{
	flex-direction:column;
	position:absolute;
	width:80px;
	background:transparent;
	top:38px;
	left:-100px;
	border-radius:5px;
	visibility:hidden;
	opacity:0;
	
}



.main_container  ul li:hover > ul{
	visibility:visible;
	transition:1.5s;
	left:10px;
	opacity:1;
}


